---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
            <span class="meta">Posted on {{ page.date | date: '%B %d, %Y' }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          {{ content }}

          <div class="clearfix">
            {% if page.previous.url %}
            <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; 이전<span class="d-none d-md-inline"> 글</span></a>
            {% endif %}
            {% if page.next.url %}
            <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">다음<span class="d-none d-md-inline"> 글</span> &rarr;</a>
            {% endif %}
          </div>
          <br><br><br>
          {% include comments.html %}
          <br><br><br>
          <div class="more-posts">
            <div class="more-category">
              <h4>'{{ page.categories }}' 카테고리의 다른 글</h4>
              <a href="/category/{{ page.categories }}/index.html" class="more-button">더보기</a>
            </div>
            <table>
              <tbody>
                {% assign count = 0 %}
                {% for post in site.posts %}
                  {% if post.categories == page.categories %}
                    {% assign count = count | plus: 1 %}
                    {% if count < 4 %}
                      <tr>
                        <th class="more-posts-title">
                          <a href="https://rainsound-k.github.io{{ post.url }}">{{ post.title }}</a>
                        </th>
                        <td class="more-posts-date">{{ post.date | date: '%Y. %m. %d' }}</td>
                      </tr>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
          <br><br><br>
        </div>
      </div>
    </div>
